.main-hero{
	z-index: 3;
	position: absolute;
}

.monster-info{
	width: 1280px;
	margin: 0 auto;
	position: relative;
}

.monster-name,
.monster-HP{
	z-index: 3;
	position: absolute;
	left: 69%;
	top: 5%;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}

.monster-HP{
	left: 85%;
	top: 50px;
}

.monster-name{
	left: 80%;
	top: 30px;
}